.container-fluid {
    text-align: center;
}

.row {
    text-align: center;
    background-color: rgb(229, 199, 143);
}

h1 {
    color: gray;
}

h2 {
    color: gray;
}

#black-crystal-header {
    color: black;
}

#purple-crystal-header {
    color: purple;
}

#red-crystal-header {
    color: red;
}

#green-crystal-header {
    color: #12E09C;
}

p {
    line-height: 80%;
    color: white;
}
.crystal-image {
    height: 300px;
    width: 300px;
}